.friend-container {
    position: relative;
    height: 8vh;
    background-color: darkgray;
    border: #000 solid 1px ;
}
.friend-img {
    display: inline-block;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.friend-name {
    position: absolute;
    top: 1vh;
    left: 10vh;
}
.friend-message {
    position: absolute;
    bottom: 1vh;
    left: 10vh;
}
.friend-time {
    position: absolute;
    bottom: 0;
    right: 10vh;

}

.search form{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
}
.search form #id_serch_keyword {
    flex: 8;
}
.friend-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}